
footer{
    background-color: black;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__title{
      flex: 1 0 0;
      font-size: 80px;
      color: white;
    }
  
}

.error{
  height: 150px;
  color: red;
  font-size: 50px;
  text-align: center;
  line-height: 150px;
  
}
