
<header>
  <app-header></app-header>
</header>
<body>
<div *ngIf="error" class="error">{{'ERRORCALL' |translate}}</div>
  <router-outlet *ngIf="!error"></router-outlet>
</body>
<footer>
   <!-- THIS IS THE FOOTER, set here the footer !!!!  -->

</footer>



