<div class="listdogs">
  <p-button [label]="'CARRUSEL_VIEW' | translate" [icon]="'pi pi-check'" iconPos="left" [disabled]="view==='carrusel'" (onClick)="view='carrusel'" class="listdogs__button carrusel"></p-button>
  <p-button [label]="'NORMAL_VIEW' | translate" [icon]="'pi pi-check'" iconPos="left" [disabled]="view==='normal'" (onClick)="view='normal'" class="listdogs__button normal"></p-button>

 <p-dialog header="" [(visible)]="imageSelec" [modal]="true" [dismissableMask]="true">
    <img src="{{ imageSelec }}" class="" />
 </p-dialog>


  <div class="listdogs__normal" *ngIf="view==='normal'">
    <ng-container *ngFor="let image of imagesDog">
        <div class="listdogs__normal__img">
          <img src="{{ image }}" class="listdogs__normal__img__cont" />
        </div>
      </ng-container> 
  </div>
  
  <p-carousel [value]="imagesDog" [numVisible]="4" [numScroll]="2" *ngIf="imagesDog && imagesDog.length>0 && view==='carrusel'" [circular]="false" [page]="1"> 
    <ng-template let-image pTemplate="item">
      <div class="listdogs__img" (click)="imageSelec=image">
        <img src="{{ image }}" class="listdogs__img__cont" />
      </div>
    </ng-template>
  </p-carousel>
</div>
