.listdogs {
  &__button{
    margin-right: 20px;
  }


  &__normal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__img {
      padding: 12px;
      &__cont {
      }
    }
  }

  &__img {
    padding: 8px;
    cursor: pointer;

    &__cont {
      max-width: 400px;
      max-height: 300px;
    }
  }
}
