/* You can add global styles to this file, and also import other style files */

// variables:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;


@mixin media($media) {
    @if $media == xs {
      @media (max-width: $breakpoint-sm) { @content; }
    }
    @else if $media == sm {
      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
    }
    @else if $media == md {
      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
    }
    @else if $media == lg {
      @media (min-width: $breakpoint-lg) { @content; }
    }
    @else if $media == xs-lt {
      @media (min-width: $breakpoint-sm) { @content; }
    }
    @else if $media == sm-lt {
      @media (min-width: $breakpoint-md)  { @content; }
    }
    @else if $media == md-lt {
      @media (min-width: $breakpoint-lg)  { @content; }
    }
   
  }


  @mixin mediaFx($media,$val) {
    @if $media == xs {
      @media (max-width: $breakpoint-sm) { 
        flex: $val;
        @content; }
    }
    @else if $media == sm {
      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        flex: $val;
         @content; }
    }
    @else if $media == md {
      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { 
        flex: $val;
        @content; }
    }
    @else if $media == lg {
      
      @media (min-width: $breakpoint-lg) { 
        flex: $val;
        @content; }
    }
  }  