

.headercontainer{
  background-color: black;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__logo{
    flex: 0 0 15%; 

  }
  &__title{
    flex: 1 0 0;
    font-size: 80px;
    color: white;
  }
  &__lang{
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 8px;
  }
}

a{
  margin-right: 20px;
}

