<div class="headercontainer">
  <div class="headercontainer__title">{{ 'DOGS' | translate }}</div>
  <div>
    <span class="headercontainer__lang" (click)="setLn('sp')">{{ 'SPANISH' | translate }}</span>
    <span class="headercontainer__lang" (click)="setLn('en')">{{ 'ENGLISH' | translate }}</span>
  </div>
</div>
