.search{
    padding: 4px 60px;
    display: block;
    margin: 10px;
    margin-bottom: 20px;
}


.filterForm{
    &__select{
        //height: 30px;
        padding: 8px 20px;
        margin: 10px;
        &[disabled] {
            opacity: 0.3;
        }
    }
}

