<div class="filterForm">
    <form [formGroup]="filterForm">
      
      <select
        formControlName="breed"
        class="filterForm__select" >
      <option [ngValue]="null">{{'CHOOSE_BREED' | translate}}</option>
        <ng-container *ngFor="let breed of dogBreeds">
          <option value="{{ breed.name }}">{{ breed.name}} </option>
        </ng-container>
      </select>
   

       <select
        formControlName="type"
        class="filterForm__select">
        <option value="all">{{'ALL' | translate}}</option>
        <ng-container *ngFor="let type of breedSelected?.types">
          <option value="{{ type }}">{{ type}}</option>
        </ng-container>
      </select> 
   
      <button pButton type="button" [label]="'SEARCH_DOGS' | translate" class="ui-button-rounded search" (click)="search()" [disabled]="!filterForm.valid || filterForm.pristine "></button>
    </form>
</div>
